@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: auto;
  margin-top: 10px;
  padding: 0px;
  width: 95vw;
  height: 95vh;
}

.body {
  @apply m-auto flex flex-col items-stretch;
  @apply pb-10;
}

button {
  @apply w-28 bg-purple-600 rounded p-3 m-3 shadow-2xl hover:bg-purple-400;
}

div {
  /*   background-color: rgba(250, 235, 215, 0.1);
 */
  border: 0.01px solid rgba(255, 0, 0, 0.441);
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-sm;
}

h6 {
  @apply text-xs;
}

p,
ol,
li,
ul {
  @apply text-base;
}

input {
  @apply m-1 p-1;
}
